
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap|Lora|Roboto");


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(13, 13, 13);
    /**font-size: var(width)*100px;**/
    color : slateblue;
    font-family: 'Bebas Neue', cursive;
}

body{
    font-family: 'Bebas Neue', cursive;
}


.titre_resultat{
    margin: 10px 0 0 0;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;  
    flex-direction: column;
}

.reponse{
    color: white;
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;  
    flex-direction: column;
}

.btn{
    font-size: 40px;
    color: whitesmoke;
    padding: 0px 10px;
    border: solid ;
    background-color: blueviolet;
    border-radius: 5%;
}

.form{
    display: flex;
    text-align: center;
    justify-content: center;  /**center;**/
    flex-direction: column;
}

.text{
    margin: 10px;
    padding: 5px;
    height: 200px;
    font-size: 20px;
    color: white;
    text-align: left;
    border: solid 3px whitesmoke;
    border-radius: 5%;
}

.title {
    color : slateblue;
    font-size: 60px;
    margin: 1% auto;
    /**text-shadow: 0px 0px 10px whitesmoke;**/
}

.column{
    text-align: center;
    justify-content: space-evenly;  /**center;**/
}

.row{
    display: flex;
    justify-content: space-evenly;  /**center;**/
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid darkviolet;
    box-shadow: 0px 0px 30px slateblue;
    background-color: grey;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.box1:hover {
    background-color: darkorchid; /* violet !important; thistle;grey; red ;*/
}

